footer {
    text-align: center
}
.footer-info-wrapper{
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
}
.footer-info h3 {
    color: #919195;
}
.footer-info{
    margin: 20px;
}
.logo-footer{
    width: 90px;
    margin: 0 auto;
}
.facebook-logo {
    color: red;
    text-align: left;
}
.separator-footer{
    width: 100%;
    color: #919195;
    border: 0.5px solid ;
}